{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
        <div class="row pb-5">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <div class="col-3  text-center p-2">
                      <div class="card bg-success text-white">
                       <div class="card-body">
                        {{category.replace('_', ' ').title()}}
                       </div>
                      </div>
                    </div>
                {% else %}
                    <div class="col-3 text-center  p-2">
                        <div class="card">
                            <div class="card-body">
                                {{category.replace('_', ' ').title()}}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
